[user]
	name = Ming Chen
	email = v.mingchen@gmail.com
[branch "master"]
        remote = origin
        merge = refs/heads/master
[color]
	ui = auto
[core]
	editor = vim
	excludesfile = /home/mchen/.gitignore_global
[merge]
	tool = vimdiff
[alias]
	pl = log --color --pretty=format:'%h - %an, %ar : %s'
	ll = log --pretty=oneline
	gl = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)     %C(bold blue)<%an>%Creset' --abbrev-commit --
	undo = reset --soft 'HEAD^'
	ap = add -p  # choose parts of the change to stage
	df = diff --name-only
	dc = diff --cached
	sm = submodule
	sms = submodule status
	b = branch -a
	bd = branch -D
	r = remote -v
	co = checkout

[sendemail]
	smtpencryption = tls
	smtpserver = smtp.gmail.com
	smtpuser = v.mingchen@gmail.com
	smtpserverport = 587
	aliasesfile = /home/mchen/.gitaliases
	aliasfiletype = mailrc
	smtpsslcertpath = /etc/ssl/certs/ca-bundle.trust.crt

[push]
	default = matching
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
