[user]
	name = Ming Chen
	email = v.mingchen@gmail.com
[branch "master"]
        remote = origin
        merge = refs/heads/master
[color]
	ui = auto
[core]
	editor = vim
[merge]
	tool = vimdiff
[alias]
	pl = log --color --pretty=format:'%h - %an, %ar : %s'
	ll = log --pretty=oneline
	gl = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)     %C(bold blue)<%an>%Creset' --abbrev-commit --

[sendemail]
	smtpencryption = tls
	smtpserver = smtp.gmail.com
	smtpuser = v.mingchen@gmail.com
	smtpserverport = 587
	aliasesfile = /home/mchen/.gitaliases
	aliasfiletype = mailrc
